# Terraform
terraform/.terraform/
terraform/*.tfvars
terraform/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.log

# Environment files
.env
.env.*

# Google Cloud credentials
*.json
!package.json
!composer.json

# IDE / Editor
.vscode/

# OS files
.DS_Store
Thumbs.db